<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit information about person</title>
</head>
<body>

<div class="header" >
  <ul id="menu" >
    <li style="padding-left: 40%; display: inline-block"><a class="link" href="/books">Books</a>&emsp;&emsp;</li>
    <li style="padding-left: 10%;display: inline-block"><a class="link" href="/people">People</a>&emsp;&emsp;</li>
  </ul>
</div>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
  <label for="full_name">Enter full name: </label>
  <input type="text" th:field="*{full_name}" id="full_name"/>
  <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}">name error</div>
  <br/>
  <label for="year_birthday">Enter year of birthday: </label>
  <input type="text" th:field="*{year_birthday}" id="year_birthday"/>
  <div style="color:red" th:if="${#fields.hasErrors('year_birthday')}" th:errors="*{year_birthday}">birthday error</div>
  <br/>
  <input type="submit" value="Edit!"/>
</form>

</body>
</html>