<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about person</title>
</head>
<body>
<p th:text="${'ФИО: ' + person.getFull_name()}">Name</p>
<p th:text="${'Дата рождения: ' + person.getBirthday()}">Birthday</p>

<div th:if="${books.size()!=0}">
    <p>Выданные книги: </p>
    <div th:each="book : ${books}">
        <p th:text="${book.getName()}"></p>
    </div>
</div>
<div th:unless="${books.size()!=0}">
    <p>Этот пользователь ещё не взял книги</p>
</div>

<a th:href="@{/people/{id}/delete (id=${person.getPerson_id})}">Удалить!</a>

</body>
</html>