<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of books</title>
</head>
<body>

<div class="header" >
    <ul id="menu" >
        <li style="padding-left: 40%; display: inline-block"><a class="link" href="/books">Books</a>&emsp;&emsp;</li>
        <li style="padding-left: 10%;display: inline-block"><a class="link" href="/people">People</a>&emsp;&emsp;</li>
    </ul>
</div>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>

<br/>
<hr/>

<a href="/books/new">Create new book</a>

</body>
</html>