<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about person</title>
</head>
<body>

<div class="header" >
    <ul id="menu" >
        <li style="padding-left: 40%; display: inline-block"><a class="link" href="/books">Books</a>&emsp;&emsp;</li>
        <li style="padding-left: 10%;display: inline-block"><a class="link" href="/people">People</a>&emsp;&emsp;</li>
    </ul>
</div>

<p th:text="${'Title: ' + book.getName()}">Name</p>
<p th:text="${'Author: ' + book.getAuthor()}">Birthday</p>
<p th:text="${'Year of publication: ' + book.getYear()}">Year</p>

<div th:if="${people}">
    <span>This book is free. Who should It assigned to?</span>
    <form th:method="POST" th:action="@{/books/{id}/assign(id=${book.getBook_id()})}">
        <input type="hidden" name="_method" value="patch">
        <label for="person">Choose person: </label>
        <select th:object="${person}" th:field="*{person_id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getFullName()}">Name</option>
        </select>
        <input type="submit" value="Take book">
    </form>
</div>

<div th:unless="${people}">
    <p th:text="'Now book is assigned by ' +  ${owner.getFullName()}">info</p>
    <form th:method="DELETE" th:action="@{/books/{id} (id=${book.getBook_id()})}">
        <input type="submit" value="Return book">
    </form>
</div>
<br>
<form th:method="GET" th:action="@{/books/{id}/edit (id=${book.getBook_id()})}">
    <input type="submit" value="Edit">
</form>
<br>
<form th:method="DELETE" th:action="@{/books/{id}/delete (id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>